body {
  font-family: "Caveat", cursive;
}
.container {
  border: 1px solid black;
  display: block;
  margin: 0 auto;
  border-radius: 3px;
  width: 50%;
  margin-top: 70px;
  padding-left: 50px;
}
#searchEngine {
  padding: 30px 90px;
}
#input {
  width: 300px;
}
#extras {
  font-size: small;
  position: relative;
  bottom: 15px;
}
#right {
  padding: 10px 0 10px 90px;
}
#weather_forecast {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.col-2 {
  border-radius: 3px;
  padding-right: 60px;
  margin: 7px;
  width: 96px;
  color: rgb(31, 16, 45);
}
.col-2:hover {
  background: #a9a9a9;
  color: aliceblue;
}
